body {
  height:100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: url('./appBackground.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

@font-face {
  font-family: "Title";
  src: local("Play Pretend"), url("./fonts/Play\ Pretend.otf") format("truetype");
}

#root {
  height: 100%;
}

.Menu {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  height:100%;
}